SECRET_KEY=votre_cle_secrete_super_securisee
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=votre_email@gmail.com
MAIL_PASSWORD=votre_mot_de_passe_application
ADMIN_PASSWORD=admin
